.site-nav {
    @include centerFlex();
}
.site-nav__list {
    @extend %list;
    @include layoutFlex(50px);
}

.site-nav__link {
    @extend %link;
    color: $title-text-color;
    position: relative;
    transition: color 250ms $timing-function;

    &:hover::after,
    &:focus::after {
        width: 100%;
    }


    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -34px;
        height: 4px;
        width: 0%;
        border-radius: 2px;
        background-color: $accent-color;
        transition: width 250ms $timing-function;
    
    }

}

.site-nav__link--current {
    color: $accent-color; 

    &::after {
        width: 100%;
    }

}



