.page-header {
    border-bottom: 1px solid $header-border-color;
    padding-top: 24px;
    padding-bottom: 25px;
}
.page-header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}